name: macOS Build

on:
    push:
        branches: [master]
    workflow_dispatch:
jobs:
    build-macos:
        runs-on: macos-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  submodules: recursive

            - uses: actions-rs/toolchain@v1
              with:
                  toolchain: stable
                  override: true

            - uses: subosito/flutter-action@v2
              with:
                  channel: stable

            - run: flutter config --enable-macos-desktop
            - run: cargo build --release
            - run: flutter build macos
              working-directory: flutter

            - uses: actions/upload-artifact@v4
              with:
                  name: rustdesk-macos
                  path: flutter/build/macos/Build/Products/Release/RustDesk.app
