name: build-windows

on:
    workflow_dispatch:
    push:
        branches: [master]

jobs:
    windows:
        runs-on: windows-latest

        env:
            VCPKG_ROOT: C:\vcpkg
            AOM_DISABLE_VMAF: '1'

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup vcpkg
              run: |
                  if (!(Test-Path "C:\vcpkg")) {
                    git clone https://github.com/microsoft/vcpkg.git C:\vcpkg
                  }
                  C:\vcpkg\bootstrap-vcpkg.bat

            - name: Install vcpkg libraries
              run: |
                  C:\vcpkg\vcpkg install `
                    libyuv:x64-windows-static `
                    libvpx:x64-windows-static `
                    opus:x64-windows-static `
                    aom:x64-windows-static

            - name: Rust toolchain
              uses: actions-rs/toolchain@v1
              with:
                  toolchain: stable
                  target: x86_64-pc-windows-msvc
                  override: true

            - name: Build rustdesk (Windows)
              run: |
                  cargo build --release

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                  name: rustdesk-windows
                  path: target\release\rustdesk.exe
